/* body{
    background-color: #000000;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskville", serif;
    text-align: center;
}

.motivation-img{
    border: 5px solid white;
    width: 100%;
} */

body {
  background-color: black;
  margin: 0;
}

/* Container tetap logic tengah */
.poster {
  width: 50%;
  margin: 80px auto;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: white;
}

/* Image tetap full width, tapi lebih modern */
.motivation-img {
  width: 100%;
  border: 4px solid white;
  border-radius: 6px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.25);
}

/* Judul lebih sinematik */
h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 3px;
  margin: 25px 0 10px;
}

/* Caption lebih halus */
p {
  font-size: 1.2rem;
  opacity: 0.8;
  margin: 0;
}
